<ion-view view-title="Account"  hide-nav-bar="true">
  <!--<ion-content>-->
    <!--<div class="content padding">-->
      <!--<div class="content padding">-->
      <!--<button class="button button-positive" ng-click="signin()">-->
        <!--LinkedIn Login-->
      <!--</button>-->
    <!--</div>-->

  <!--</ion-content>-->

  <ion-content class="center">
    <!--<div class="row">-->
      <!--<div class="col">-->
    <div class="col">
      <div class="row vh-100">
        <div class="col col-center">
          <button class="button button-block button-positive"  ng-click="login()">
            LinkedIn Login
          </button>
        </div>
      </div>
    </div>

      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
