<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content padding="false">

    <div class="spacer text-center" style="height: 25%;"></div>

    <div class="row">
      <div class="col text-center">
        <h1>CMGR</h1>
      </div>
    </div>

    <div class="spacer text-center" style="height: 25%;"></div>

    <div class="row">
      <div class="col text-center">
        <button class="button button-full button-positive" ng-click="loginWithFacebook()">
          Login with Facebook
        </button>
        <button class="button button-full button-positive" ng-click="authenticate('facebook')">
          Login with Facebook Satellizer
        </button>
      <div>
    </div>

  </ion-content>
</ion-view>
