<ion-view view-title="">
    <ion-content>
       <div class="has-header">
         <div class="item item-profile">
           <img ui-sref="tab.profile({userId:post.uid})" ng-src="{{post.profileImageURL}}" alt="">
           <h2>{{post.displayName}}</h2>
           <p class="date"><i class="ion-ios-calendar-outline"></i> {{post.dt_created | date:'MM-dd-yyyy'}}</p>
         </div>
        <div class="card no-margin">
            <!--<div class="item item-avatar item-text-wrap">-->
                <!--<img ng-src="{{post.profileImageURL}}">-->
                <!--<h2>{{post.displayName}}</h2>-->
                <!--<p class="date"><i class="ion-ios-calendar-outline"></i> {{post.dt_created | date:'MM-dd-yyyy'}}</p>-->
            <!--</div>-->

            <div class="item item-body item-text-wrap">
                <p>{{post.content}}
                </p>
                <p class="comment">

                    <a href="#" class="subdued" ng-click="open()">{{post.comments}} Comments</a>
                </p>
            </div>
        </div>
        </div>
<!--
        <form name="formCreateComment" ng-submit="saveComment()">
            <label class="item item-input">
                <textarea ng-model="commentForm.content" placeholder="What's on your mind?" required></textarea>
            </label>
            <button class="button button-block button-positive" type="submit" ng-disabled="formCreateComment.$invalid">Submit</button>

        </form>
-->
        <div class="list">
            <div class="item item-avatar item-text-wrap" ng-repeat="comment in comments">
                <img ng-src="{{comment.profileImageURL}}">
                <h2>{{comment.displayName}}</h2>
                <p>{{comment.content}}</p>
            </div>
        </div>

    </ion-content>
    <form name="formCreateComment" ng-submit="saveComment()">
        <ion-footer-bar class="bar-light item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="commentForm.content" placeholder="What's on your mind?" required msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon button-clear button-positive icon ion-ios-paperplane footer-btn" type="submit" ng-disabled="formCreateComment.$invalid"></button>
            </div>
        </ion-footer-bar>
    </form>


</ion-view>
