<ion-view view-title="New Post">
  <ion-content class="padding">
    <div class="list">
      <!--<label class="item item-input">-->
        <!--<input ng-model="post.title" type="text" placeholder="Remind me to...">-->
      <!--</label>-->

      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="Last Name">-->
      <!--</label>-->
      <label class="item item-input">
        <textarea ng-model="post.content"  placeholder="What's on your mind?"></textarea>
      </label>
      <!--<div class="button-bar">-->
        <!--<ionic-datepicker class="button" input-obj="datepickerObject">-->
          <!--<button class="button button-block button-positive"> {{post.date | date:datepickerObject.dateFormat}}</button>-->
        <!--</ionic-datepicker>-->
        <!--<ionic-timepicker class="button" input-obj="timePickerObject">-->
          <!--<button class="button button-block button-positive overflowShow">-->
            <!--&lt;!&ndash;{{timePickerObject.inputEpochTime | date:'yyyy-MM-dd HH:mm:ss Z'}}&ndash;&gt;-->
            <!--<standard-time-meridian etime='post.time'></standard-time-meridian>-->
          <!--</button>-->
        <!--</ionic-timepicker>-->
      <!--</div>-->

    </div>
    <div class="button-bar">
      <button class="button button-positive" ng-click="setPost()">
        Go!
      </button>
    </div>

  </ion-content>
</ion-view>
