<ion-view view-title="New Post">
  <ion-content class="padding">
    <div class="item">
        <div class="row">
          <div class="col col-50 col-offset-25">
              <img class="full-image" ng-src="{{user.profileImageURL}}">
          </div>
        </div>
        <div class="text text-center">
          <h2>{{user.displayName}}</h2>
        </div>
    </div>

    <label class="item item-input">
      <textarea ng-model="post.content"  placeholder="What's on your mind?"></textarea>
    </label>

    <div class="button-bar">
      <button class="button button-positive" ng-click="setPost()">
        Submit
      </button>
    </div>

  </ion-content>
</ion-view>
