<ion-view view-title="CMGR">
  <ion-content padding="true">
    <div class="list card" ng-repeat="(key,post) in posts | orderBy:'dt_created':true" type="item-text-wrap" ui-sref="tab.post-detail({userId:post.uid, postId:key})">
      <div class="item item-avatar">
        <img ng-src="{{post.profileImageURL}}">
        <h2>{{post.displayName}}</h2>
        <p class="date"><i class="ion-ios-calendar-outline"></i> {{post.dt_created | date:'MM-dd-yyyy'}}</p>
      </div>
      <div class="item item-body">
        <p>{{post.content}}</p>
        <p class="comment"><a href="#" class="subdued">{{post.comments}} Comments</a>

        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
