<ion-view view-title="New Post">
    <ion-content class="has-header">
      <div class="item item-profile">
        <img ng-src="{{user.profileImageURL}}" alt="">
        <h2>{{user.displayName}}</h2>
      </div>
      <div class="padding">
        <div class="card">


          <label class="item item-input">
            <textarea ng-model="post.content" placeholder="Ask a question, request advice, post a job opening"></textarea>
          </label>
        </div>
      </div>

        <div class="button-bar padding">
            <button class="button button-positive" ng-click="setPost()">
                Submit
            </button>
        </div>

    </ion-content>
</ion-view>
